nav {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

li {
    display: inline;
}

a {
    display: inline;

    margin: 0;
    padding: 0;

    text-decoration: underline;
}

/* Display Block */
.block {
    /* Colocar container em bloco */
    
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
}

/* Display Inline */
.inline {
    /* Colocar container em inline */
    
    background-color: #28a745;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

/* Display Inline-Block */
.inline-block {
    /* Colocar container em inline block */
    
    width: 150px;
    padding: 10px;
    background-color: #ff9800;
    color: white;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

/* Display Flex */
.flex-container {
    /* Colocar container flexível */
    
    justify-content: center;
    gap: 10px; /* Configura um espaçamento de 10px */
    margin-top: 10px;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: #dc3545;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 5px;
}